* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


body header {
    display: flex;
    background: url('../images/16982.jpg');
    background-repeat: no-repeat;
    /* background-size:100vw 100vh;*/
    background-size: cover;
    background-position: center;
    flex-direction: row;
    justify-content: center;
    height: min-content;
    flex-wrap: wrap;
    grid-column: 1/-1;
}


.cont-titulog {
    display: flex;
    height: 100%;
}

.menulogo {
    display: flex;
    background: #fff;
    border-radius: 2px;
    padding: 3px;
}

.cont-melogo {
    display: flex;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
}

.MenuAdm {
    display: flex;
    opacity: 0.99;
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
    font-size: xx-large;
    color: #f8dc81;
    border: 3px solid #fbe6a1;
    border-radius: 7px;
    margin: 3px;
}



body nav {
    grid-column: 1/2;
    background: url('/images/menuabs.jpg');
    grid-row: span 1;
}

nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: bold;
    padding: 1em;
}

nav ul li {
    color: #000;
    font-size: 1.3rem;
    padding: 0.2em 0;
}

body .ventanas-cont {
    grid-column: 2/6;
    background: url(/images/fondocont.jpg);
    background-size: cover;
    background-position: center;
    grid-row: span 1;
}

.nav-link1 {
    color: white;
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
    font-size: 20px;
    background: #007965;
    opacity: 0.9;
}

.nav-link1:hover {

    color: black;
}

.nav-link1:active {
    color: #11698e;
}

#estden {
    position: relative;
    top: 10%;
    margin: 2vw;
}

body footer {
    color: #fff;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('/images/foot.jpg');
    grid-column: 1/-1;
    height: 100%;
}

@media (max-width: 768px) {

    body{
        grid-template-rows:  1fr 4fr 1fr;
    }

    body header {
        height: max-content;
    }

    .cont-titulog {
        flex-direction: column-reverse;
        align-items: center;
    }

    .menulogo {
        height: 45px;
    }

    .MenuAdm {
        text-align: center;
    }

    body nav {
        position:relative;
        grid-column: 1/-1;
        display:none;
        justify-content: center;
        z-index:1;
    }

    body nav ul {
        width: max-content;
    }

    .nav-link1 {
        padding: 5px;
        width: 100%;
    }

    body .ventanas-cont {
        grid-column: 1/-1;
        grid-row:2/4;
        height: 100%;
    }

    body footer {
        height: max-content;
    }
}