* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    display:flex;
    height: 100vh;
    width: 100vw;    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 5fr 0.2fr;
    grid-auto-flow: dense;
    height: 100%;
    width: 100%;
}


body header {
    display: flex;
    background: url('../images/16982.jpg');
    background-repeat: no-repeat;
    /* background-size:100vw 100vh;*/
    background-size: cover;
    background-position: center;
    flex-direction: row;
    justify-content: center;
    height: max-content;
    flex-wrap: wrap;
    grid-column: 1/-1;
    grid-row:1/2;
}


.cont-titulog {
    display: flex;
    height: 100%;
}

.menulogo {
    display: flex;
    background: #fff;
    border-radius: 2px;
    padding: 3px;
}

.cont-melogo {
    display: flex;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    align-items: center;
    cursor: pointer;
}
.cont-melogo:hover{
    color: rgba(9, 251, 90, 0.911);
}

.MenuAdm {
    display: flex;
    opacity: 0.99;
    text-shadow: 2px 2px 5px red;
    font-weight: bold;
    font-size: xx-large;
    color: #f8dc81;
    border: 3px solid #fbe6a1;
    border-radius: 7px;
    margin: 3px;
}



body nav {
    position: relative;
    grid-column: 1/2;
    background: url('/images/menuabs.jpg');
    grid-row: 2/3;
}
.menulogo:hover{
    color:#f8dc81;
    box-shadow: 1px 1px 15px #ffffff;
    transform: scale(1.02);
}


nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    font-weight: bold;
    padding: 1em;
}



body .ventanas-cont {
    grid-column: 2/6;
    background: url('../images/oscu.jpg');
    background-size: cover;
    background-position: center;
    grid-row: 2/3; 
    display: flex;  
    justify-content: center; 
}

.nav-link1 {
    color: white;
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
    font-size: 20px;
    background: #007965;
    opacity: 0.9;
    margin: 1rem 0;
}
.nav-link1 span
{
    display: inline-block;
    height: 48px;
    width: 48px;
    background:url('../images/icons/exp.gif') center/cover no-repeat;
}

.nav-link1:hover {
    color: black;
}

.nav-link1:active {
    color: #11698e;
}

.aparece{
    visibility: visible;
}
.invisible{
    visibility: hidden;
}
#estden {
   position: absolute;
    z-index: 1;
   margin-top:6vh; 
}

#reg-exp{ 
    position: absolute;
    height:90vh;   
}
#regexp{ 
    height:100%;
}
#consper{
    position:absolute;
    height: 90vh;
}
#consexp{
    position: relative;
}
#expsali{ 
    position: absolute;
    height: 50%;
}
#comisaria{ 
    position: absolute;
    height: 56vh;
}
#informes{ 
    position: absolute;
    height: 40vh;
}
#noti{
    position: absolute;
    height: fit-content;
}
#btn-exp{
    height:fit-content;
}
body footer {
    color: #fff;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('/images/foot.jpg');
    grid-column: 1/-1;
    grid-row: 3/4;
    height: 100%;
}

.registitulo{
    font-size:40px;
    font-weight:bold;
    background-image:url('/images/info.jpg');
    color:#566d62d0;
    margin-top: 10px;
    border: 5px solid #98b4ac;  
    text-shadow: 4px 2px px white;
    border-radius: 10px; 
    color:#0de77ed0;
    height: min-content;
    margin-bottom:-15px;
}




@media (max-width: 768px) {

    body{
        grid-template-rows:  0.4fr 100vh 0.15fr;
    }

    body header {
        height: max-content;
    }

    .cont-titulog {
        flex-direction: column-reverse;
        align-items: center;
    }

    .menulogo {
        height: 45px;
    }

    .MenuAdm {
        text-align: center;
    }

    body nav {
        grid-column: 1/-1;
        visibility:hidden;
        justify-content: center;
        z-index: 2;
    }

    body nav ul {
        width: 60%;
    }

    .nav-link1 {
        padding: inherit;
        width: 100%;
    }

    body .ventanas-cont {
        grid-column: 1/-1;
        grid-row:2/4;
        height:100%;
       
    }

    body footer {
        height: max-content;
    }
    #regexp {
        margin-top:0;
        margin-bottom:50vh;
        
    }
    .registitulo{
        font-size:27px;
    }
}

